.hotel-search-page-content {
    max-width: 112rem;
    margin-inline: auto;
    box-sizing: border-box;
    padding-inline: 1.25rem;


    @media (min-width: 37.5em) {
        .hotel-search-page-content {
            padding-inline: 2rem;
        }
    }

    @media (min-width: 56.25em) {
        .hotel-search-page-content {
            padding-inline: 3rem;
        }
    }
}

