.hotel-details {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 40px; /* Add margin between HotelDetails and header */
}

.hotel-details h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #007bff; /* Match the color of the HotelItem title */
}

.hotel-details p {
    margin: 5px 0;
}

.hotel-details .amenities {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

.hotel-details .amenities span {
    background-color: #dfeeff;
    padding: 5px 10px;
    border-radius: 4px;
}

.hotel-details .button-container {
    margin-top: 20px;
}

.hotel-details strong {
    color: #007bff; /* Match the color of the HotelItem topics */
}